- // Dragon Webeloper 4
- // _config.jade | 0.1

include dw4/_dw4.jade

- // CSS ################################################################################
- css('https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/3.2.0/sanitize.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
- css('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

- css('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pragati+Narrow')

- css('app/app.css')

- // JS ################################################################################


- js('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
- js('https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/js/buttons.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.5/angular-slick.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.3/angular-google-maps.js')
- js('https://cdn.rawgit.com/rprovost/ng-backstretch/master/dist/ng-backstretch.min.js')
- js('https://cdn.rawgit.com/novayagazeta-app/angular-swipebox/master/dist/angular-swipebox.min.js')
- js('https://cdn.rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.light.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.2/scrollreveal.min.js')

- js('app/app.js')

- // MENU ################################################################################


- menu('Nosotros', '#nosotros', null, {'du-smooth-scroll':true })
- menu('Productos', '#productos', null, {'du-smooth-scroll':true })
- menu('Distribuidor', '#distribuidor', null, {'du-smooth-scroll':true })
- menu('Promociones', '#promociones', null, {'du-smooth-scroll':true })
- menu('Contacto', '#contacto', null, {'du-smooth-scroll':true })
- menu('Tienda Virtual', '#tiendavirtual', null, {'du-smooth-scroll':true })
