include _config.jade

+html5
  +head('Zarco Advanced Quality Superior', 'Zarco, motocicletas, refacciones, accesorios', 'Descripción')
  
  body(ng-app="dw4")

    .catalogoBtn
      a(href="app/cats/zarco_cascos.pdf", target="_blank").cascos
        i.fa.fa-file.icon
        div
          | Catálogo de Productos 
          i.fa.fa-download
        
      a(href="app/cats/zarco_cascos.pdf", target="_blank").cascos
        img(src="app/img/helmet.png", alt="Catálogo de cascos")
        div 
          | Catálogo de Cascos 
          .fa.fa-download
    
    
    +menu
    h1.logo(du-smooth-scroll="#inicio")
    header(backstretch backstretch-images=" ['app/img/header_1.jpg', 'app/img/header_2.jpg', 'app/img/header_3.jpg']", backstretch-fade="1")#inicio
      .container: h2.c8.o4.ot2.om2.phrase
        small TODO PARA
        span MOTOCICLETAS
    
    .mainBannerOutside: .mainBanner: .container: .c12: slick(dots="true", arrows="false")
      div: img(src="app/img/promo1.jpg").fluid
      div: img(src="app/img/promo2.jpg").fluid
    
    section#nosotros
      .container
        .c8.o2: h3.title
          .main NOSOTROS
          .sec Nuestra misión
        .c8.o2
          p: strong Somos una comercializadora de refacciones y accesorios para motocicletas, nuestro mayor interés y prioridades son:
          ul 
            li Importar y comercializar las mejores marcas en el mercado.
            li Tener el mejor balance entre Costo y Calidad.
            li Lograr tener el mayor surtido y variedad de refacciones y accesorios.
            li Mantener el mayor beneficio económico entre nuestros distribuidores como de nuestros clientes.
          p Además de poner a tu alcance el mayor inventario de refacciones y accesorios para moto, brindamos la correcta asesoría para que tu compra sea la correcta para tu moto.
    section#tienda
      .container
        .c8.o2: h3.title
          .main TIENDA
          .sec Visítanos
        .c8.o2
          p: strong Contamos con una de las tiendas de mayoreo y menudeo con mayor surtido de refacciones y accesorios de la Ciudad de México, nuestro surtido va acompañado con la mejor asesoría de compra, cada uno de nuestro agentes de ventas, esta capacitado para orientarte y recomendarte el mejor reemplazo que tu motocicleta necesita.
        .c6.g.cm10.om1
          .map
            | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.8927227204504!2d-99.10369437404935!3d19.460191525109618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f960598ec16b%3A0x8bb35596d1531e6b!2sNte.+82+5123%2C+Gertrudis+S%C3%A1nchez+III+Secc%2C+07839+Ciudad+de+M%C3%A9xico%2C+D.F.!5e0!3m2!1ses-419!2smx!4v1475534323512" width="100%" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
        .c6.g.cm10.om1
          p: strong.red Tienda Yu-Long Moto
          p Norte 82 No 5123 Colonia Gertrudis Sánchez
          p Delegación Gustavo A. Madero, Ciudad de México
          p Teléfono: (55) 2603 4801
    section#marcas
      .container
        .c8.o2: h3.title
          .sec Nuestras
          .main MARCAS
        .c8.o2
          p: strong Una de nuestras prioridades es comercializar las marcas que tienen el mejor desempeño funcional y costo-calidad, logramos tener vinculo con las marcas que hoy en día brindan múltiples beneficios.
        .c8.o2
          slick(slides-to-show="3", slides-to-scroll="3", dots="true", arrows="false").marcasslider
            div: img(src="app/img/marca_1.jpg" title="Zarco: Marca de creación nacional con producción nacional e internacional con crecimiento importante de comercialización de refacciones para motocicleta.").tooltip.fluid
            div: img(src="app/img/marca_2.jpg" title="Zhenghe: Fabricante Chino con una de las mayores diversidades de refacciones y accesorios para motocicleta.").tooltip.fluid
            div: img(src="app/img/marca_3.jpg" title="Kaije: Uno de los fabricantes de baterías para motocicleta con mayor surtido.").tooltip.fluid
            div: img(src="app/img/marca_4.jpg" title="WYL: Fabricante de cascos para motociclistas, cuenta con amplia gama de modelos a elegir.").tooltip.fluid
            div: img(src="app/img/marca_5.jpg" title="KINGWAV: Fabricante de llantas para motocicleta, con amplia variedad de modelos.").tooltip.fluid
            div: img(src="app/img/marca_6.jpg" title="MOTOBATT: Especialista en fabricar baterías para todo tipo de motocicleta.").tooltip.fluid
            div: img(src="app/img/marca_7.jpg" title="ITALIKA: Una de las más importantes empresa fabricante de motocicletas, con su amplia gama de refacciones.").tooltip.fluid
            div: img(src="app/img/marca_8.jpg" title="NGK: Especialistas en fabricación de bujías para todo tipo de motocicleta.").tooltip.fluid
            div: img(src="app/img/marca_9.jpg" title="CASTROL: Fabricante líder en el mundo de los aceites lubricantes par motor de cualquier motocicleta.").tooltip.fluid
    
    section.banner_a
    section#productos
      .container
        .c8.o2: h3.title
          .main PRODUCTOS
          .sec El mejor costo-calidad
        .c8.o2
          slick(slides-to-show="3", slides-to-scroll="3", dots="true", arrows="false").productosslider
            div
              img(src="app/img/pr_1.jpg").fluid
              .text Baterias
            div
              img(src="app/img/pr_2.jpg").fluid
              .text Cascos
            div
              img(src="app/img/pr_3.jpg").fluid
              .text Llantas
            div
              img(src="app/img/pr_4.jpg").fluid
              .text Clutch
            div
              img(src="app/img/pr_5.jpg").fluid
              .text Kits de cilindro
            div
              img(src="app/img/pr_6.jpg").fluid
              .text Kits de cabeza
            div
              img(src="app/img/pr_7.jpg").fluid
              .text Focos
            div
              img(src="app/img/pr_8.jpg").fluid
              .text Cámaras
            div
              img(src="app/img/pr_9.jpg").fluid
              .text Kits de sprocket
            div
              img(src="app/img/pr_10.jpg").fluid
              .text Cadenas
    
    section.banner_b
    section#distribuidor
      .container
        .c8.o2: h3.title
          .main DISTRIBUIDORES
          .sec Nuestra red de distribución
        .c8.o2
          p Comercializadora Zarco busca distribuidores, si tu quieres pertenecer a nuestra red de distribución, contáctate con nosotros o te invitamos a que te registres y así poder obtener los beneficios propios de ser Distribuidor Oficial.
        .c8.o2: h3.title
          .sec Materiales para distribuidores
        .c8.o2
          p Amigo distribuidor, en Comercializadora Zarco queremos que tengas las mejores herramientas de ventas, entre ellas tenemos materiales promocionales como:
          ul
            li Lonas
            li Posters
            li Folletos
            li Banner en nuestra página web y facebook
            li Entre otros
          p: strong Llámanos o contacta a tu agente de ventas.
        .c8.o2: h3.title
          .sec Franquicias
        .c8.o2
          p En Comercializadora Zarco hemos creado un programa de Franquicias, muy pronto presentaremos el programa completo para que puedas ser beneficiario del programa.
        .c8.o2: h3.title
          .sec Catálogo con precios
        .c8.o2
          p Amigo distribuidor, nuestro catálogo es una de las herramientas más importantes para tus agentes, en el puedes encontrar gráficamente nuestros productos, así como descripción y precios.
    
    section.banner_c
    section#promociones
      .container
        .c8.o2: h3.title
          .main PROMOCIONES
          .sec Regresa prónto y conóce nuestras promociones
    section.banner_d
    section#contacto
      .container
        .c8.o2: h3.title
          .main CONTACTO
          .sec Visítanos o escríbenos
        .c6.g.cm10.om1
          p: strong.red Comercializadora Zarco
          p Norte 82 No 5123 Colonia Gertrudis Sánchez. Delegación Gustavo A. Madero, Ciudad de México
          p Teléfono: (55) 2603 4801
          .map
            | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.8927227204504!2d-99.10369437404935!3d19.460191525109618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f960598ec16b%3A0x8bb35596d1531e6b!2sNte.+82+5123%2C+Gertrudis+S%C3%A1nchez+III+Secc%2C+07839+Ciudad+de+M%C3%A9xico%2C+D.F.!5e0!3m2!1ses-419!2smx!4v1475534323512" width="100%" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
          
        .c6.g.cm10.om1
          p: strong.red Llena el siguiente formulario
          +form('contacto@zarco.com', 'Mensaje del sitio web')
    section.banner_e
    section#tiendavirtual
      .container
        .c8.o2: h3.title
          .main TIENDA
          .sec Virtual
        .c6.o3.cm10.om1
          form.tvlogin
            .tac: input(type="text", placeholder="Usuario", name="user_tv")
            .tac: input(type="password", placeholder="Contraseña", name="pass_tv")
            .tac
              button(type="submit").button
                span Ingresar
          .tac: a(href="#").red Registrarme
          
    +scripts
