@import '../dw4/_dw4';

/* WIDTHS */
@containerWidth: 1200px;
@containerWidthTablet : 720px;
@gutterWidth: 5px;
/* COLORS */
@b:   #202020;
@w:   #fff;
@g:    #888;
@main:    #D72E2E;
@sec:     #4082BC;

/* FONTS */

.font{ font-family: 'Montserrat', sans-serif; }
.font2{ font-family: 'Pragati Narrow', sans-serif; }

/* -----------  */
body{
  .font;
}

.catalogoBtn{
  position: fixed;
  right: 0;
  top: 50%;
  background: @main;
  padding: 10px;
  .box-sizing(border-box);
  z-index: 9;
  color:@w;
  width: auto;
  div{
    float: right;
    font-size: 0.8em;
    margin-left: 10px;
    overflow: hidden;
    line-height: 2.2em;
    display: none;
  }
  &:hover{
    div{
      display: block;
      .transition;
    }
  }
}

nav{
  background: @main;
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
  @media @mobile{
    bottom: auto; top: 0;
  }
  ul{
    .container;
    @media @mobile{
      width: 80%;
      margin-left: 20%;
    }
    li{
      .c;
      text-align: center;
      @media @mobile{
        .c(4);
      }
      a{
        font-size: 0.7em;
        color:@w;
        .font2;
        text-transform: uppercase;
        display: block;
        padding: 5px;
        border: 1px solid @main;
        @media @mobile{
        }
      }
    }
  }
}

h1.logo{
  width: 287px; height: 212px;
  background-image: url(img/zarco.png);
  background-size: 100%;
  position: fixed;
  left: 0; top: 0;
  z-index: 10;
  @media @tablet{
    width: 160px;
  }
  @media @mobile{
    width: 25%;
    left: -5%;
  }
}

header{
  width: 100%;
  height: 284px;
  .phrase{
    margin-top: 70px;
    text-shadow: 0 5px 2px @b;
    line-height: 40px;
    @media @mobile{
      line-height: 30px;
      margin-top: 130px;
    }
    small{
      font-size: 2em;
      color:@main;
      @media @mobile{
        font-size: 1.6em;
      }
    }
    span{
      display: block;
      font-size: 5.2em;
      color:@w;
      @media @tablet{
        font-size: 3.6em;
      }
      @media @mobile{
        font-size: 2.2em;
      }
    }
  }
}

.mainBannerOutside{
  position: relative;
  z-index: 2;
}
.mainBanner{
  background: @w;
  .box-shadow(0 0 26px @b);
  position: relative;
  &:before, &:after{
    content:"";
    position: absolute;
    background-image: url(img/corners.png);
    width: 450px; height: 80px;
    z-index: -1;
  }
  &:before{
    right: 0; top: -40px;
    background-position: top right;
  }
  &:after{
    left: 0; bottom: -40px;
    background-position: bottom left;
  }
  .slick-dots{
    position: absolute;
    left: 0; top: 45%;
    li{
      font-size: 0;
      margin: 2px;
      &:before{
        content:"";
        display: block;
        width: 14px; height: 14px;
        .border-radius(50%);
        border:3px solid @g;
      }
      &.slick-active{
        &:before{
          border:3px solid @w;
          background: @main;
        }
      }
    }
  }
}


section{
  background: @b;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 200px;
  border-bottom: 2px solid @main;
  h3.title{
    color:@main;
    padding: 80px 0 40px 0;
    text-shadow: 0 5px 2px @b;
    .main{
      .font;
      font-weight: 700;
      font-size: 4em;
      &+.sec{ margin-top: -20px; }
      @media @mobile{ font-size: 2em; }
    }
    .sec{
      .font2;
      color:@w;
      font-size: 2em;
      &+.main{ margin-top: -20px; }
    }
  }
  p, ul, ol{
    .font2;
    font-size: 1.4em;
    color:@w;
    margin: 10px 0;
    text-shadow: 0 0px 20px @b;
    @media @mobile{ font-size: 1em; }
  }
  ul,ol{
    list-style-type: square;
    list-style-position: inside;
  }
}


.map{
  background: @b;
  padding: 10px;
}


.red{
  color: @main;
}


.marcasslider, .productosslider{

  .slick-slide{
    padding: 0 10px;
  }
  .slick-dots{
    text-align: center;
    li{
      font-size: 0;
      margin: 0 2px;
      display: inline-block;
      &:before{
        content:"";
        display: block;
        width: 14px; height: 14px;
        .border-radius(50%);
        border:3px solid @g;
      }
      &.slick-active{
        &:before{
          border:3px solid @w;
          background: @main;
        }
      }
    }
  }
}

.productosslider{
  .slick-slide{

    .text{
      color:@w;
      text-align: center;
      padding:  10px 5px;
      background: @b;
      font-size: 0.9em;
    }
  }
}

.tooltipster-default{
  background: @main;
  border:none;
  max-width: 200px;
}


#contacto{
  form{
    input,textarea{
      background: @w;
      .box-sizing(border-box);
      width: 100%;
      margin: 10px 0;
      .font2;
      padding: 10px;
    }
  }
  .button{
    background: @main;
    &:active{
      color:@b;
    }
  }
}


.tvlogin{
  background: @w;
  padding: 20px;
  input{background: @w/1.1; margin: 5px 20px; padding: 10px 20px; .tac; }
  .button{
    margin: 10px 0;
    background: @main;
    color:@w;
  }
}

section#nosotros{ background-image: url(img/nosotros.jpg); }
section#tienda{ background-image: url(img/tienda.jpg); }
section#marcas{ background-image: url(img/marcas.jpg); }
section#productos{ background-image: url(img/productos.jpg);}
section#distribuidor{ background-image: url(img/distribuidor.jpg);}
section#promociones{ background-image: url(img/promociones.jpg);}
section#contacto{ background-image: url(img/contacto.jpg);}
section#tiendavirtual{ background-image: url(img/tiendavirtual.jpg);}


section.banner_a{ background-image: url(img/banner_a.jpg);}
section.banner_b{ background-image: url(img/banner_b.jpg);}
section.banner_c{ background-image: url(img/banner_c.jpg);}
section.banner_d{ background-image: url(img/banner_d.jpg);}
section.banner_e{ background-image: url(img/banner_e.jpg);}
